#topSection {
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.header {
	font-size: 3em;
	margin-top: 5px;
	text-align: center;
	color: whitesmoke;
	font-family: causten-black;
	z-index: 10;
}

#prism {
	width: 495px;
	transform: translate(-62%, -50%);
}

.overlay {
	position: absolute;
	top: 50%;
	left: -50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-top: 45vw solid white;
	border-bottom: 33.75vw solid white;
	border-right: 20vw solid transparent;
	border-left: 73vw solid white;
}

.startup {
	animation: flashlight ease-out 2.25s;
}

.greenlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 77%;
	height: 100%;
	font-family: causten-extrabold;
}

.options {
	gap: 2.5rem;
	margin-left: 10rem;
}

/* Diamonds */
.options>.flex-parent {
	opacity: 0;
	animation: floatup 1.5s 2.3s forwards ease-in-out;
	transition: transform 0.4s ease-out;
}

.options> :first-child {
	animation: floatup 1.5s 2.1s forwards ease-in-out;
}

/* Selects the keys */
.keyTextContainer> :first-child {
	transition: opacity 0.2s ease-in-out;
}

.keyTextContainer> :first-child:hover {
	opacity: 0.8;
}

.keyTextContainer {
	position: absolute;
	flex-direction: column;
	margin-top: -7rem;
}

/* Symmetric keyTextContainer */
.options>.flex-parent:first-of-type>.keyTextContainer {
	margin-top: -6.4rem;
}

.key {
	width: 4.75rem;
}

#key {
	margin-bottom: 0.1rem;
	width: 4.9rem;
}

#key1 {
	position: absolute;
	top: 1rem;
}

.text {
	font-size: 1.75rem;
	flex-direction: column;
	background-clip: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: opacity 0.15s ease-in-out;
}

.text:hover {
	opacity: 0.7;
}

/* Assymetric text */
.flex-parent+.text {
	margin-top: 0.9rem;
}

.toptext {
	font-size: 40px;
}


/* Mobile Prism Section */
#mobilePrismSection {
	display: none;
}

.triangle-holder {
	width: 100%;
	justify-content: space-between;
}

.triangles {
	width: 0;
	height: 0;
	border-top: 50vw solid transparent;
	animation: mobile-flashlight ease-out 1s;
}

#triangle1 {
	border-left: 48.5vw solid white;
}

#triangle2 {
	border-right: 48.5vw solid white;
}

.prism-holder {
	width: 100%;
	height: 20rem;
	background-color: White;
}

/* Medium */
@media (max-width: 1100px) {

	.options {
		margin-left: 8rem;
		gap: 1.5rem;
	}

	.diamondsvg,
	.key {
		scale: 0.95;
	}

	.text {
		font-size: 1.6625rem;
	}

	.toptext {
		font-size: 38px;
	}

	.overlay {
		border-top: 45vw solid white;
		border-bottom: 34.75vw solid white;
		border-left: 75vw solid white;
	}

	#prism {
		scale: 0.95;
		transform: translate(-63.55%, -50%);
	}
}

/* Small */
@media (max-width: 875px) {

	.options {
		margin-left: 7rem;
		margin-top: 1rem;
		gap: 0;
	}

	.diamondsvg,
	.key {
		scale: 0.85;
	}

	.text {
		font-size: 1.4875rem;
	}

	.toptext {
		font-size: 34px;
	}

	.overlay {
		border-top: 47.5vw solid white;
		border-bottom: 35vw solid white;
		border-left: 77vw solid white;
	}

	#prism {
		scale: 0.85;
		transform: translate(-70.5%, -57.5%);
	}
}


/* Mobile */
@media (max-width: 780px) {
	.greenlay {
		width: 100%;
	}

	.options {
		margin: 0 4rem;
		width: 100%;
		gap: 2rem;
		justify-content: space-around;
	}

	.diamondsvg,
	.key {
		scale: 1;
	}
.text {
	font-size: 1.75rem;

}
.toptext{
	font-size: 40px;
}
	

	.overlay {
		display: none;
	}

	.options>.flex-parent {
		animation-delay: 0.3s;
	}

	.options> :first-child {
		animation-delay: 0.1s;
	}

	#mobilePrismSection {
		display: block;
	}

	#prism {
		width: 495px;
		transform: translate(1.5rem, -4rem);

	}
}
@media (max-width:600px){
	.options{
		gap: 0rem;
	}
.diamondsvg,
	.key {
		scale: 0.9;
	}
		.text {
			font-size: 1.575rem;
		}
	
		.toptext {
			font-size: 36px;
		}
}
@keyframes flashlight {
	0% {
		border-right: 100000rem solid white;
	}

	50% {
		border-right: 1000rem solid transparent;
	}
}


@keyframes floatup {
	0% {
		opacity: 0;
		margin-top: 7rem;
	}

	100% {
		opacity: 1;
		margin-top: 3rem;
	}
}