@import url(fonts.css);

* {
	margin: 0;
	padding: 0;
	font-family: causten-black;
}

:root {
	---headerGreen: #20a758;
	---top: #6ec592;
	---middle: #58d68d;
	---bottom: #4eb79b;
	---test: #16b58c;
	---complementary1: #1ac490;
	---complementary2: #3dcda1;
	---complementary3: #1bb586;
	---complementary4: #3ac298;
}

.see-through {
	background: linear-gradient(to right, #009b72 50%, #20a758);
	background-attachment: fixed;
}

.flex-parent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#topSection {
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.header {
	font-size: 3em;
	margin-top: 5px;
	text-align: center;
	color: whitesmoke;
}

#prism {
	width: 495px;
	transform: translate(-64%, -50%);
}

.overlay {
	position: absolute;
	top: 50%;
	left: -50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-top: 30vw solid white;
	border-bottom: 20vw solid white;
	border-right: 15vw solid transparent;
	border-left: 73vw solid white;
}

.greenlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 77%;
	height: 100%;
}

.options {
	---height: 200px;
	---width: 125px;
	gap: 2.5rem;
	margin-left: 10rem;
}

.diamond {
	display: flex;
	flex-direction: column;
}

.topDiamond {
	border-bottom: calc(var(---height) - 60px) solid whitesmoke;
	border-right: var(---width) solid transparent;
	border-left: var(---width) solid transparent;
}

.bottomDiamond {
	border-top: var(---height) solid whitesmoke;
	border-right: var(---width) solid transparent;
	border-left: var(---width) solid transparent;
}

.text:hover {
    opacity: 0.7;
}

/* Selects the keys */
.keyTextContainer>:first-child{
    
	margin: auto;
    transition: opacity 0.2s ease-in-out;
}
.keyTextContainer>:first-child:hover{
    opacity: 0.8;
}

.keyTextContainer {
	position: absolute;
	flex-direction: column;
	margin-top: -7rem;
}
/* Symmetric keyTextContainer */
.options > .flex-parent:first-of-type > .keyTextContainer{
    margin-top: -6.4rem;
}
#key,
#key1,
#key2 {
	background-clip: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
        width: 4.5rem;
}
#key{
    margin-bottom: 0.4rem;

    
}
#key1 {
	position: absolute;
	top: 1rem;
}
.text {
    font-size: 1.6rem;
    flex-direction: column;
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 0.15s ease-in-out;
}
/* Assymetric text */
.flex-parent + .text{
    margin-top: 1rem;
}

.text > span:first-of-type {
	font-size: 40px;
}
