@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
}

:root {
    ---headerGreen: #20a758;
    ---top: #6EC592;
    ---middle: #58D68D;
    ---bottom: #4EB79B;
    ---test:#16B58C;
    ---complementary1:#1AC490;
    ---complementary2:#3DCDA1;
    ---complementary3:#1BB586;
    ---complementary4:#3AC298;

    ;
}

#topSection {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #009b72 50%, #20a758 );
}

.header {
    font-size: 3em;
    margin-top: 5px;
    text-align: center;
    color: whitesmoke;
    font-family: causten-black;
}

#prism {
  margin-left: 0;
  width: 450px;
  transform: translate(-64%, -50%)
    
}
.infor{
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
}
.overlay{
    width: 0;
    height: 0;
    border-top:30vw solid white;
    border-bottom: 20vw solid white;
    border-right: 15vw solid transparent;
    border-left: 73vw solid white;
}